<div class="home-container">
  <section class="menu-options">
    <app-navbar></app-navbar>
  </section>

  <div class="body-home">
    <div class="image-header-container">
      <app-automatic-slider></app-automatic-slider>
    </div>

    <div class="filters">
      <h2>Búsqueda avanzada</h2>
      <div id="container-form-filter">
        <form
          action=""
          class="form-filter"
          [formGroup]="searchForm"
          (ngSubmit)="submitForm()"
        >
          <label for="ubications" id="label-ubications"
            >Elige tu ubicación</label
          >
          <select
            name="ubications"
            id="select-ubications"
            class="form-elements select"
            formControlName="ubications"
          >
            <option *ngFor="let cine of cinemaData" [value]="cine.id">
              {{ cine.ubication }}
            </option>
          </select>
          <label for="cine-name" id="label-cine">Elige tu cine</label>
          <select
            name="cine-name"
            id="select-cine"
            class="form-elements select"
            formControlName="nameCine"
          >
            <option value="" disabled selected>Selecciona un cine</option>
            <option
              *ngFor="let cine of cineName; let i = index"
              [value]="i + 1"
            >
              {{ cine }}
            </option>
          </select>
          <label for="form-elements" id="label-name">Elige tu película</label>
          <input
            type="text"
            id="input-name"
            placeholder="Busca una película..."
            class="form-elements input"
            formControlName="nameMovie"
          />
          <div id="div-spacer"></div>
        </form>
      </div>
    </div>

    <div class="loader" *ngIf="showLoader" >
      <app-loader></app-loader>
    </div>

    <div class="cartelera" *ngIf="!showLoader">
      <h2 class="title-container">{{ titleBillboard }}</h2>
      <div [ngClass]="{
        'cartelera-container': !moviesLessFive,
        'cartelera-container-less' : moviesLessFive
      }">
        <app-cartelera
          [arrMovies]="billboard"
          [nameContainer]="'billboardContainer'"
          *ngIf="!noMatches"
        ></app-cartelera>
        <h1 *ngIf="noMatches" class="noMatches">
          <i class="bi bi-exclamation-triangle-fill"></i>
          {{noMatchesMessage}}</h1>
      </div>
    </div>

    <div class="cartelera" name="estrenos" *ngIf="!showLoader">
      <h2 class="title-container">Próximamente</h2>
      <div div class="cartelera-container">
        <app-cartelera
          [arrMovies]="coomingSoon"
          [nameContainer]="'coomingSoonContainer'"
        ></app-cartelera>
      </div>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
