<div class="container-cartelera">
  <span class="pre-btn">
    <i class="bi bi-arrow-left-short" (click)="leftControl()"></i>
  </span>

  <div class="movies-container" id="product-container">
    <div class="movie-card">
      <div class="movie-image">
        <img src="assets/images/spiderman-2.jpg" alt="" class="product-thumb" />
        <button class="card-btn">More info</button>
      </div>
      <div class="movie-info">
        <h2 class="movie-title">brand</h2>
        <p class="movie-description">a shot line about the product</p>
        <span class="price">$20</span>
        <span class="actual-price">$40</span>
      </div>
    </div>

    <div class="movie-card">
      <div class="movie-image">
        <img src="assets/images/batman.jpg" alt="" class="product-thumb" />
        <button class="card-btn">More info</button>
      </div>
      <div class="movie-info">
        <h2 class="movie-title">brand</h2>
        <p class="movie-description">a shot line about the product</p>
        <span class="price">$20</span>
        <span class="actual-price">$40</span>
      </div>
    </div>

    <div class="movie-card">
      <div class="movie-image">
        <img
          src="assets/images/dogtown-boys.jpg"
          alt=""
          class="product-thumb"
        />
        <button class="card-btn">More info</button>
      </div>
      <div class="movie-info">
        <h2 class="movie-title">brand</h2>
        <p class="movie-description">a shot line about the product</p>
        <span class="price">$20</span>
        <span class="actual-price">$40</span>
      </div>
    </div>

    <div class="movie-card">
      <div class="movie-image">
        <img src="assets/images/the-doors.jpg" alt="" class="product-thumb" />
        <button class="card-btn">More info</button>
      </div>
      <div class="movie-info">
        <h2 class="movie-title">brand</h2>
        <p class="movie-description">a shot line about the product</p>
        <span class="price">$20</span>
        <span class="actual-price">$40</span>
      </div>
    </div>

    <div class="movie-card">
      <div class="movie-image">
        <img
          src="assets/images/the-exorcist.jpg"
          alt=""
          class="product-thumb"
        />
        <button class="card-btn">More info</button>
      </div>
      <div class="movie-info">
        <h2 class="movie-title">brand</h2>
        <p class="movie-description">a shot line about the product</p>
        <span class="price">$20</span>
        <span class="actual-price">$40</span>
      </div>
    </div>

    <div class="movie-card">
      <div class="movie-image">
        <img
          src="assets/images/trainspotting.jpg"
          alt=""
          class="product-thumb"
        />
        <button class="card-btn">More info</button>
      </div>
      <div class="movie-info">
        <h2 class="movie-title">brand</h2>
        <p class="movie-description">a shot line about the product</p>
        <span class="price">$20</span>
        <span class="actual-price">$40</span>
      </div>
    </div>

    <div class="movie-card">
      <div class="movie-image">
        <img src="assets/images/wolwerine.jpg" alt="" class="product-thumb" />
        <button class="card-btn">More info</button>
      </div>
      <div class="movie-info">
        <h2 class="movie-title">brand</h2>
        <p class="movie-description">a shot line about the product</p>
        <span class="price">$20</span>
        <span class="actual-price">$40</span>
      </div>
    </div>
  </div>

  <span class="nxt-btn">
    <i class="bi bi-arrow-right-short" (click)="rightControl()"></i>
  </span>
</div>
