.container-cartelera {
  display: flex;
  flex-direction: row;
  align-items: center;
  outline: 1px red solid;
}

#imagenes {
  outline: 1px red solid;
  width: auto;
  display: flex;
  max-width: 275px;
  overflow: hidden;
}



img {
  width: 100%;
  // margin-right: 5px;
}


.arrow-left {
  outline: 1px green solid;
  top: 50%;
  font-size: 30px;
}

.arrow-right {
  outline: 1px green solid;
  top: 50%;
  font-size: 30px;
  right: 0;
}
