<div class="container-cartelera">

  <span class="arrow-left">
    <i class="bi bi-caret-left-fill" (click)="leftControl()"></i>
  </span>

  <div class="cartelera-images" id="imagenes">
    <img src="assets/images/spiderman-2.jpg" alt="spiderman" />
    <img src="assets/images/wolwerine.jpg" alt="wolwerine" />
    <img src="assets/images/batman.jpg" alt="batman" />
    <img src="assets/images/alphadog.jpg" alt="batman" />
    <img src="assets/images/the-doors.jpg" alt="batman" />
    <img src="assets/images/trainspotting.jpg" alt="batman" />
    <img src="assets/images/dogtown-boys.jpg" alt="batman" />
    <img src="assets/images/the-exorcist.jpg" alt="spiderman" />
  </div>

  <span class="arrow-right">
    <i class="bi bi-caret-right-fill" (click)="rightControl()"></i>
  </span>


</div>
