<div class="footer-container">
  <div class="logo">
    <img src="assets/images/guatecine.jpg" alt="Logotipo GuateCine" id="logo-desktop"/>
    <img src="assets/images/logo-footer-movil.jpg" alt="" id="logo-movil">
  </div>
  <div class="content">
    <h3>¿QUIÉNES SOMOS?</h3>
    <ul>
      <li>Únete al equipo</li>
      <li>Oficinas centrales</li>
      <li>Ventas corporativas</li>
    </ul>
  </div>
  <div class="content">
    <h3>PUBLICIDAD Y EVENTOS</h3>
    <ul>
      <li>Eventos privados</li>
      <li>Publicidad</li>
      <li>Eventos escolares</li>
    </ul>
  </div>
  <div class="social-media-content">
    <h3 id="title-social-media">SIGUENOS...</h3>
    <div class="icon-social-media">
        <i class="bi bi-facebook"><span class="icons">Facebook</span></i>
        <i class="bi bi-instagram"><span class="icons">Instagram</span></i>
        <i class="bi bi-twitter"><span class="icons">Twitter</span></i>
    </div>
  </div>
  <span id="name-dev">Desarrollado por Kevyn Posadas Tote</span>
</div>
