<div class="navbar-container">
  <nav>

    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="bi bi-list"></i>
    </label>


    <label class="logo">Logotipo</label>
    <ul>
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/promotions">Promociones</a></li>
      <li><a routerLink="/locations">Ubicaciones</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <li><a routerLink="/session">Iniciar sesión</a></li>
    </ul>
  </nav>
</div>
